<ul class="list-group-flush">
{% if categories %}
    {% for c in categories %}
        {% if c == current_category %}
        <li class="list-group-item">
            <a class="list-group-link" href="{% url 'rango:show_category' c.slug %}">
                <span data-feather="archive"></span> {{ c.name }}
            </a>
        </li>
        {% else %}
        <li class="list-group-item">
            <a class="list-group-link" href="{% url 'rango:show_category' c.slug %}">
                <span data-feather="archive"></span>  {{ c.name }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
{% else %}
    <li class="list-group-item">There are no categories present.</li>
{% endif %}
</ul>