<div class="list-group-flush">
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
                <a class="list-group-item list-group-item-action active" href="{% url 'rango:show_category' c.slug %}">
                    {{ c.name }}
                </a>
            {% else %}
                <a class="list-group-item list-group-item-action" href="{% url 'rango:show_category' c.slug %}">
                    {{ c.name }}
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="list-group-item">There are no categories present.</li>
    {% endif %}
</div>

{# TODO: Add list of categories at the bottom of add category#}