{% extends 'rango/base.html' %}
{% load staticfiles %}



{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-2">
        <div class="container">
            <div class="row">
                {% if user_profile.picture %}
                    <div class="col-4 p-4">
                        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                             alt="{{ selected_user.username }}'s profile image"
                             width="300" height="300"
                             class="rounded img-fluid profile-img"/>
                    </div>

                {% else %}
                    <img src="{{ MEDIA_URL }}/profile_images/default_user_profile.png" width="300" height="300"
                         alt="Placeholder image"
                         class="rounded img-fluid profile-img"/>
                {% endif %}
                <div class="col-8 p-1">
                    <h1 class="display-4">&nbsp;{{ selected_user.username }}</h1>
                    <hr class="my-4">

                    <div class="user-website">
                        <a href="{{ user_profile.website }}">
                            <span data-feather="link"></span>&nbsp;{{ user_profile.website }}
                        </a>

                    </div>

                    <p>
                        <span data-feather="info"></span>&nbsp;&nbsp;{{ user_profile.comment }}
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="col-4">
                {% if selected_user == user %}
                    <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse"
                            data-target="#editProfileCollapse" aria-expanded="false"
                            aria-controls="editProfileCollapse">
                        Edit Profile
                    </button>
                    <div class="collapse" id="editProfileCollapse">
                        <div class="form-group">
                            <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                <p><label for="id_website">Website:</label>
                                    <input class="form-control" type="url" name="website"
                                           value="{{ user_profile.website }}" maxlength="200" id="id_website"></p>
                                <p><label for="id_picture">Picture:</label>
                                    <input class="form-control-file" type="file" name="picture" accept="image/*"
                                           id="id_picture"></p>
                                <p><label for="id_comment">Comment:</label>
                                    <textarea class="form-control" type="text" name="comment" maxlength="140"
                                              id="id_comment" rows="5" cols="20">{{ user_profile.comment }}</textarea>
                                    <span class="helptext">Max 140 characters</span>
                                </p>

                                <input type="submit" value="Update"/>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <p>
                        <strong>Website: </strong>
                        <a href="{{ user_profile.website }}">{{ user_profile.website }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="col-2">
                <div class="nav-item"><a class="btn btn-secondary" href="{% url 'auth_password_change' %}">Change
                    Password</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}