{% extends 'rango/base.html' %}
{% load staticfiles %}



{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-2">
        <div class="container">
            <div class="row">
                {% if user_profile.picture %}
                    <div class="col-4 p-4">
                        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                             alt="{{ selected_user.username }}'s profile image"
                             class="rounded img-fluid profile-img"/>
                    </div>

                {% else %}
                    <img src="https://lorempixel.com/300/300/people/" width="300" height="300" alt="Placeholder image"/>
                {% endif %}
                <div class="col-8 jumbotron p-1">
                    <h1 class="display-4">{{ selected_user.username }}</h1>
                    <hr class="my-4">
                    <p class="lead">
                        <span data-feather="link"></span> {{ user_profile.website }}
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div>
                {% if selected_user == user %}
                    <form method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="Update"/>
                    </form>
                {% else %}
                    <p>
                        <strong>Website: </strong>
                        <a href="{{ user_profile.website }}">{{ user_profile.website }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a>
            </div>
        </div>
    </div>
{% endblock %}